/*! purgecss start ignore */
.blog {
    .markdown {
        p, ol, li, dd, dt {
            @apply text-lg mb-3 font-book font-normal;
            line-height: 1.8; // leading-snug not coming thru for some reason
            @screen lg {
                @apply text-xl;
            }
        }
        ul {
            @apply mb-8
        }
        ul li {
            line-height: 1.5;
        }
        p {
            @apply mb-6;
        }
        .aside p {
            @apply font-normal;
        }
        // these deprecated in TW3
        .xl\:columns-2 {
            column-count: 2;
        }
        .gap-6 {
            gap: 1.5rem;
        }
        .column-span-all {
            column-span: all;
        }
        blockquote { // having issues with @apply here, not sure why. This rule getting skipped on build, postcss issue maybe.
            @apply py-4;
            // padding: 2rem 0;
            p {
                @apply pl-6 border-l-4 italic border-gray-500;
                // padding-left: 1.5rem;
                // font-style: italic;
                // border-left-width: 2px;
                border-color: var(--accent-color);
            }
            & + blockquote {
                // padding: 0 inherit;
                @apply py-0;
            }
        }
        .inline-float {
            @apply mb-8 w-auto block rounded-md;
            @screen lg {
                @apply float-right inline w-1/4 ml-6 mb-0;
            }
            @screen xl {
                @apply w-1/3;
            }
        }
    }
    .font-serif {
        @apply font-book; 
    }
    .pad-longform { // managing responsive framing of written content <shrugs>
        @apply max-w-8xl px-6 mx-auto;
        @screen md {
            @apply px-10;
        }
        @screen lg {
            @apply px-12;
        }
        @screen xl {
            @apply px-16;
        }
    }
    .block-quote {
        p {
            @apply font-book font-light leading-relaxed opacity-75;
        }
        .attribution p {
            @apply text-xl font-sans font-medium mt-4 uppercase tracking-widest;
        }
    }
    .content-block.block-quote p {
        @apply leading-tight;
    }

}
// .block-writing + .block-writing { // override spacing if blocks are same type
//     margin-bottom: 0 !important;
// }
/*! purgecss end ignore */