
.waypoint {
    animation: pulse 1.5s infinite;
}

@for $i from 1 through 4 { // add a small bit of delay for n children. Estimating \
    $t: 0.25s * $i + 0.3s;
    .anim-#{$i} { 
        animation-delay: $t;
        // transition-delay: $t;
        // opacity: 0;
    }
}
.anim-1, .anim-2, .anim-3, .anim-4 {
    animation-name: animSeries;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.anim-3 {
    animation-name: animUp;
}
.anim-4 {
    animation-name: animUp;
    animation-delay: 2.5s;
}
// .anim-list {
//     @for $i from 1 through 8 { // add a small bit of delay for n children. Estimating 8
//         $t: 0.05s * $i + 0.3s;
//         &:nth-child(#{$i}) { 
//             transition-delay: $t;
//         }
//     }
// }
.anim-in {
    transition: all $speed * 2 ease-out;
    // transition-delay: $speed;
    opacity: 0;
    transform: translate3d(-20px,0,0);
    &.animated {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

@keyframes animSeries {
    0% { 
        opacity: 0;
        transform: translate3d(20px,0,0);
    }
    100% { 
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}
@keyframes animUp {
    0% { 
        opacity: 0;
        transform: translate3d(0,20px,0);
    }
    100% { 
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}
@keyframes showLazyImg {
    0% { 
        opacity: 0;
        // transform: translate3d(20px,0,0);
    }
    100% { 
        opacity: 1;
        // transform: translate3d(0,0,0);
    }
}
@keyframes bigPan {
    $z: 1.2;
    0%, 100% {
        transform: scale3d(1,1,1);
    }
    50% {
        transform: scale3d($z,$z,$z);
    }
}
@keyframes pulse {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
}