
body {
    color: var(--text-color);
}
a, a:link {
    // text-decoration: unset;
    display: inline-block;
    // transition: 
    //     transform var(--speed) ease-out,
    //     // text-decoration-color var(--speed) ease-out,
    //     color var(--speed) ease-out
    // ;
    // transform: translate3d(0,0,0);
    color: var(--link-color);
    // text-decoration: underline;
    // text-underline-offset: 2px;
    // text-decoration-thickness: 0.1em;
    // text-decoration-skip-ink: none;
    // text-decoration-color: var(--trans);
    &:hover, &:focus {
        color: var(--link-hover);
        // transform: translate3d(3px,0,0);
        // text-decoration-color: var(--text-color-alt);
    }
}
/*! purgecss start ignore */
.button {
    color: var(--link-color);
    border-color: var(--link-color);
    &:hover {
        color: var(--link-hover);
        border-color: var(--link-hover);
    }
}

.bg-orange {
    --bg: var(--color-orange);
    --bg-active: var(--color-orange-light);
    --text-color: var(--color-white);
    --text-color-alt: var(--color-blue-dark);
    --link-color: var(--color-white);
    --link-hover: var(--color-aqua-light);
    color: var(--text-color);
    .theme-alt {
        color: var(--color-white);
    }    
}
.bg-blue, .bg-blue-dark, .bg-gray-600, .bg-gray-700, .bg-gray-800, .bg-gray-900, .bg-black {
    --bg-active: var(--black-a);
    --text-color: var(--color-white);
    --text-color-alt: var(--color-orange);
    --link-color: var(--color-orange);
    --link-hover: var(--color-orange-light);
    color: var(--text-color);
    .theme-alt {
        color: var(--color-white);
    }  
}
.bg-blue {
    --bg: var(--color-blue);
    // --link-color: var(--color-aqua);
    // --link-hover: var(--color-aqua-light);
}
.bg-blue-dark {
    --bg: var(--color-blue-dark);
    // --link-color: var(--color-aqua);
    // --link-hover: var(--color-aqua-light);
}
.bg-white, .bg-gray-100, .bg-gray-200, .bg-gray-300, .bg-gray-400, .bg-gray-500 {
    --bg: var(--color-white);
    --bg-active: var(--white-a);
    --text-color: var(--color-blue);
    --text-color-alt: var(--color-orange);
    --link-color: var(--color-orange);
    --link-hover: var(--color-orange-dark);
    color: var(--text-color);
    .theme-alt {
        color: var(--text-color-alt);
    }
}
*[class^="bg-"] {
    color: var(--text-color);
}
.work {
    .masthead, footer {
        --bg: var(--color-blue-dark);
        background-color: var(--bg);
        --text-color: var(--color-white);
        --text-color-alt: var(--color-orange);
        --link-color: var(--color-orange);
        --link-hover: var(--color-orange-light);
        color: var(--text-color);
        nav a {
            --link-color: var(--color-white);
            --link-hover: var(--color-orange-light);    
        }
    }
}
a.toc-link, a.toc-link:visited {
    color: var(--color-black);
    @screen lg {
        color: var(--text-color);
    }
    border-color: var(--text-color-alt);
    @apply border-b p-1;
}
/*! purgecss end ignore */

// imgix colors duotones
// color: #0d358a;
// color: #010b94;
// color: #31457c;
// color: #ff5e00;
// color: #f76539;