// for basic card grid
.grid-container {
    display: grid;
    grid-gap: calc(1rem + 1vw);
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: 1fr;
    grid-auto-flow: dense;
}

// .grid-container {
//     display: grid;
//     grid-template-columns: repeat(6, minmax(200px, 1fr));
//     grid-gap: calc(.5rem + 2vw);
//     grid-auto-flow: dense;
//     grid-column-gap: 20px;
//     grid-row-gap: 20px;
//     grid-template-areas: "profile title title" "sidebar content content" "......  footer  footer";
// }

// .sidebar {
//     grid-area: sidebar;
// }

// .content {
//     grid-area: content;
// }

// .header {
//     &-profile {
//         grid-area: profile;
//     }
//     &-title {
//         grid-area: title;
//     }
// }

// .footer {
//     grid-area: footer;
// }