
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    .h-screen {                           
        height: 1024px;                         
    }                       
}   
                                            
/* iPad with landscape orientation. */                       
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {                         
    .h-screen {                           
        height: 768px;                         
    }                       
}
                                               
/* iPhone 5 
You can also target devices with aspect ratio. */                       @media screen and (device-aspect-ratio: 40/71) {                              
    .h-screen {                           
        height: 500px;                         
    }                       
}