.h-screen, .md\:h-screen, .lg\:h-screen {
    min-height: 100vh;
    min-height: calc(100vh + 32px);
    // height: -webkit-fill-available;
    // height: -moz-fill-available;
    // height: fill-available;
}
.min-h-66 {
    min-height: 640px;
    min-height: 66vh;
}

.calendly-overlay .calendly-popup {
    max-height: 1024px;
}