html {
    font-family: config('fonts.sans');
}
.z--10 {
    z-index: -10;
}

p {
    @apply text-base leading-normal font-sans;
}
.subhead {
    @apply font-sans font-medium leading-tight uppercase tracking-widest;
}
// .lead {
//     @apply text-xl leading-normal font-serif font-light;
// }
.lead {
    // @apply text-xl leading-normal font-serif font-light;
    @apply text-xl font-sans font-normal;
    max-width: 40em;
    @screen lg {
        @apply text-2xl leading-normal;
    }
}

.headline-2 {
    @apply text-5xl-scale font-serif font-light mb-2 leading-none;
    color: var(--text-color-alt);
}
.headline-3 {
    @apply text-4xl-scale font-serif font-light mb-2 leading-none;
    color: var(--text-color-alt);
}
.section-header {
    font-size: 2.5rem;
    font-size: calc(2.2vw + 2rem);
    @apply font-serif font-light leading-none;
}
.pad {
    @apply p-4;
    padding: calc(0.8rem + 5vw);
    &-sm {
        padding: calc(0.6rem + 1vw);
    }
    &-y-xl { // so why does this have x-pad...?
        padding: calc(1rem + 7vw) calc(0.6rem + 5vw);
    }
}
.top-4 {
    top: 1.5rem;
}
.icon-inline {
    @apply inline-block fill-current;
    width: 1em;
    height: 1em;
    margin-top: -0.3em; // whyy
}

.line-length {
    max-width: 52ch;
}

$card-gap: calc(0.5rem + 2vw);
.multicol {
    columns: 3;
    column-gap: $card-gap;
}

.defs-only { // for svg filters
    position: absolute;
    height: 0; width: 0;
    overflow: none;
    left: -100%;
}
.bg-blur {
    backdrop-filter: blur(22px);
    background-color: hsla(221, 57%, 17%, 0.04); // slight tint
}
.bg-blur-light {
    backdrop-filter: blur(14px);
    background-color: hsla(0, 0%, 100%, 0.1); // slight tint
}
.pov {
    perspective: 750px;
}

// article/work stuff

.sticky-desc {
    top: 4rem;
    @screen lg {
        top: 2rem;
    }
}
.zoom-ease {
    transform: scale3d(1,1,1);
    @include transitions;
    transition-timing-function: ease-in-out;
    animation-name: bigPan; 
    animation-duration: 60s;
    animation-iteration-count: infinite;
}
.zoom-ease img {
    width: 105%;
    height: 105%;
    object-fit: cover;
}
.work-gallery {
    // transform: rotateX(-3deg) rotateY(-18deg) rotateZ(-9deg);
    // transform: rotateX(21deg) rotateY(-31deg) rotateZ(21deg) translate3d(0,-4px,91px);
    // transform: rotateX(16deg) rotateY(-32deg) rotateZ(22deg) translate3d(-7vw, -434px, -18vw);
    height: 102%;
    @include transitions;
}

.work-gallery-item {
    margin-bottom: $card-gap;
    // @for $i from 1 through 8 { // add a small bit of delay for n children. Estimating 8
    //     $t: 0.05s * $i + 0.2s;
    //     &:nth-child(#{$i}) a { 
    //         // transition-delay: $t;
    //         animation-delay: $t;
    //     }
    // }
}
// .work {
//     main & {
//         a {
//             border-bottom: 1px solid var(--link-color);
//         }
//     }
// }
.shadow-start {
    @include shadowStart;
}