$speed: 150ms;
:root {
    --bg: white;
    --trans: rgba(0,0,0,0);
    --text-color: var(--color-blue);
    --text-color-alt: var(--color-orange);
    --link-color: var(--color-orange);
    --link-hover: var(--color-orange-dark);
    --speed: $speed;
}

@mixin transitions {
    transition: all $speed ease-out;
    // transition: opacity $speed ease-out, color $speed ease-out, border-color $speed ease-out, box-shadow $speed ease-out;
}
@mixin shadowStart {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.0);
}