:root {
    --bg: white;
    --trans: rgba(0,0,0,0);
    --text-color: var(--color-blue);
    --text-color-alt: var(--color-orange);
    --link-color: var(--color-orange);
    --link-hover: var(--color-orange-dark);
    --speed: 150ms;
}