.markdown {
    &.lead {
        p, ul, ol, li, dd, dt {
            @apply text-lg mb-4 font-light;
            line-height: 1.6; // leading-snug not coming thru for some reason
            @screen lg {
                @apply text-xl;
            }

        }
    }
    &.intro {
        p, ul, ol, li, dd, dt {
            @apply text-xl mb-4 font-normal;
            line-height: 1.6; // leading-snug not coming thru for some reason
            @screen lg {
                @apply text-2xl;
            }

        }
    }
    p, ul, ol, li, dd, dt {
        @apply mb-4;
        line-height: 1.6;
    }
    ul, ol {
        list-style: disc;
        @apply text-base ml-6;
    }
    h1, h2, h3, h4, h5, h6 {
        @apply font-medium mt-4;
        margin-bottom: 0.3em;
    }
    h1, h2 {
        @apply text-2xl;
    }
    h3, h4 {
        @apply text-lg;
    }
    h4 {
        @apply tracking-wider uppercase;
    }
    a {
        @include links-underlined;
        @apply font-medium;
    }
    table {
        @apply w-auto mb-8 font-sans text-left;
        thead {
            @apply border-b;
        }
        td {
            @apply pb-1 pr-2;
        }
    }
}
