.markdown { // encapsulating type styles from editorial fields
    &.lead { // these two are set off a bit in articles
        p, ul, ol, li, dd, dt {
            @apply text-lg mb-4 font-light;
            line-height: 1.6; // leading-snug not coming thru for some reason
            @screen lg {
                @apply text-xl;
            }
        }
    }
    &.intro {
        p, ul, ol, li, dd, dt {
            @apply text-xl mb-4 font-normal;
            line-height: 1.6; // leading-snug not coming thru for some reason
            // @screen lg {
            //     @apply text-2xl;
            // }
            font-size: 110%;

        }
    }
    p, ul, ol, li, dd, dt { // common styles. The core typography styles are in ../_theme.scss
        @apply mb-4;
        line-height: 1.6;
    }
    ul, ol {
        list-style: disc;
        @apply text-base ml-6;
    }
    h1, h2, h3, h4, h5, h6 { // getting some base header styles laid down
        @apply font-medium mt-4;
        margin-bottom: 0.3em;
    }
    h1, h2 {
        @apply text-2xl;
    }
    h3, h4 {
        @apply text-lg;
    }
    h4 { // same size, but different look - but only in articles
        @apply tracking-wider uppercase;
    }
    a { // different link style than in components. These only appear in long-form copy
        @include links-underlined;
        @apply font-medium;
    }
    table {
        @apply w-auto mb-8 font-sans text-left;
        thead {
            @apply border-b;
        }
        td {
            @apply pb-1 pr-2;
        }
    }
}
