
a {
    @include transitions;
}

a.link {
    @apply text-base font-medium leading-none;
    @screen md {
        @apply text-lg;
    }
    // &:hover {
    //     @apply text-orange;
    // }
}
a.link-nudge {
    transform: translate3d(0,0,0);
    &:hover, &:focus {
        transform: translate3d(3px,0,0);
    }
}
@mixin icon-after {
    opacity: 0.4;
    display: inline-block;
    width:  0.8em;
    height: 0.8em;
    margin-left: 0.2em;
    // transform: translate3d(0px, 0.1em, 0); // slight correction of position
    transition: transform $speed * 0.5 ease, opacity $speed * 0.5 ease;
    // transition: transform $timing-default * 2 ease, opacity $timing-default * 2 ease;
}
.separator-arrow { 
    &::after {
        content: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 14'%3E%3Cpolygon fill='%23fff' points='5.665 1 4 2.645 9.408 8 4 13.355 5.665 15 12.75 8'/%3E%3C/svg%3E");
        @include icon-after;
    }
}

a.waypoint {
    &:hover, &:focus {
        transform: translate3d(0,3px,0);
    }
}
.button {
    @apply whitespace-no-wrap text-sm inline-block px-4 py-2 border-2 rounded font-sans font-medium cursor-pointer;
    color: var(--text-color);
    fill: var(--text-color);
    @screen md {
        @apply px-4 py-2 text-base;
        // &:hover {
        //     @apply text-orange border-orange-light;
        // }
    }
    // &.button-secondary {
    //     color: var(--bg);
    //     background-color: var(--link-color);
    //     &:hover {
    //         color: var(--bg);
    //         background-color: var(--link-hover);
    //     }
    // }
    &.button-solid {
        color: var(--bg);
        background-color: var(--link-color);
        &:hover {
            color: var(--bg);
            background-color: var(--link-hover);
        }
    }
}
.cta, .card-meta {
    @include transitions;
}
a.card-hover {
    color: var(--text-color);
}
.card {
    @apply rounded-lg;
}
.card-hover {
    @apply rounded-lg;
    @screen md {
        // @apply p-6 mb-0;
        &:hover {
            // @apply shadow-xl shadow-2xl;
            box-shadow: 0 25px 50px -12px hsla(229, 68%, 40%, 0.32);
            // background-color: white; //fallback
            // background-color: var(--bg-active); // this should be provided by the parent container
            --link-color: var(--text-color);
            --link-hover: var(--text-color);
            .cta {
                color: var(--color-orange);
            }
            .card-meta, .card-opacity-target {
                opacity: 1;
                transition: all $speed * 2 linear;
            }
        }    
    }
    @screen lg {
        // @apply p-8;
    }
    @include shadowStart;
    // @include transitions;
    transition: all $speed * 2 ease-out;
}
// .project-card-full {
//     .feature-image {
//         @apply rounded;
//     }
//     &:hover > .feature-image {
//         border-radius: 0;
//     }
// }
details {
    transition: color $speed;
    color: var(--text-color);
    &:hover {
        color: var(--link-hover);
    }
    &[open] {
        color: var(--text-color);
    }
}
a.toc-link, a.toc-link:visited {
    color: var(--text-color);
    // @screen lg {
    //     color: var(--text-color);
    // }
    // border-color: var(--text-color-alt);
    // @apply border-b p-1;
}
.pill {
    transition: all $speed * 2 linear;
    @apply font-cond text-xs py-1 px-2 inline-block mb-2 leading-tight uppercase tracking-widest border;
    color: var(--text-color);
    &:hover {
        color: var(--link-hover);
        border-color: var(--link-hover);
    }
    border-color: var(--text-color);
}
.pill-gray {
    @apply font-cond text-xs py-1 px-2 inline-block mb-2 leading-tight uppercase tracking-widest border;
    color: var(--color-gray-500);
    border-color: var(--color-gray-500);
}