
a {
    @include transitions;
}

a.link {
    @apply text-base font-medium leading-none;
    @screen md {
        @apply text-lg;
    }
    // &:hover {
    //     @apply text-orange;
    // }
}

.button {
    @apply whitespace-no-wrap text-sm mb-10 inline-block px-4 py-2 border-2 rounded font-sans font-medium;
    @screen md {
        @apply px-4 py-2 text-base;
        // &:hover {
        //     @apply text-orange border-orange-light;
        // }
    }
}
.cta {
    @include transitions;
}
a.card-hover {
    color: var(--text-color);
}
.card-hover {
    @apply rounded-lg mb-6;
    @screen md {
        @apply p-6 mb-0;
        &:hover {
            // @apply shadow-xl shadow-2xl;
            box-shadow: 0 25px 50px -12px hsla(229, 68%, 40%, 0.32);
            background-color: white; //fallback
            background-color: var(--bg); // this should be provided by the parent container
            --link-color: var(--text-color);
            --link-hover: var(--text-color);
            .cta {
                color: var(--color-orange);
            }
        }    
    }
    @screen lg {
        @apply p-8;
    }
    @include shadowStart;
    // @include transitions;
    transition: all $speed * 2 ease-out;
}
